<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="4.0"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
	
    <servlet>
        <servlet-name>AddServlet</servlet-name>
        <servlet-class>com.jeelsoft.AddServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddServlet</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    
     <servlet>
        <servlet-name>SQServlet</servlet-name>
        <servlet-class>com.jeelsoft.SqServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SQServlet</servlet-name>
        <url-pattern>/sq</url-pattern>
    </servlet-mapping>

   

   

</web-app>